*{
    margin: 0;
    padding: 0;
}
html{
    font-family : sans-serif ;
    background-image: url("img/parallax-bg.jpeg");
    
}
.body{
    width: 1920px;


}
h2 {
    color: white;
    font-size: 50px;
}
.header {
    height: 1054px;

}
.logo{
    width: 216px;
    padding-left: 230px;
    padding-top: 46px;
    height: 33px;
}
.number{
    color: white;
    font-size: 20px;
    position: relative;
    width: 180px;
    right: -1270px;
    top: -30px;
}
.number_col{
    color: #D6AF76;
}
.btn{
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    color: #E4B564;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    top: -70px;
    right: -1475px;
    text-decoration: none;
    font-size: 18px;



}
.callback_svg{

}
.callback {
    text-decoration: none;
    color: #E4B564;

}
.title_header{
    color: white;
    margin-left: 230px;
    margin-top: 100px;
    font-size: 20px;
}
.title_first{
    font-size: 50px;
}
.text_header{
    padding-top: 41px;
    width: 1200px;
}
.header_grid {
    margin-top: 40px;
    margin-left: 230px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    display: grid;
    grid-template-rows: repeat(1500,1px);
    grid-template-columns: repeat(1900,1px);
    list-style: none;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.item_one{
    width: 467px;
    height: 468px;
    background-color: #634F2C;
    grid-row: 1/468;

}
.item_two{
    width: 467px;
    height: 468px;
    background-color: #B4A385;
    grid-column: 503/972;
}
.item_two_wrap{
    width:380px;
}
.item_three{
    width: 467px;
    height: 468px;
    background-color: #E4B564 ;
    grid-column: 995/1465;

}
.item_four{
    width: 715px;
    height: 468px;
    background-color: #635A4A;
    grid-row: 495/963;

}
.item_five{
    width: 715px;
    height: 468px;
    background-color: #B08C4D;
    grid-row: 495/963;
    grid-column: 745/1460;

}
.title_second{
    margin-top: 464px;
    margin-left: 230px;
}
.main_grid{
    list-style: none;
    margin-top: 94px;
    margin-left: 230px;
    display: grid;
    grid-template-columns:repeat(1500,1px) ;
    grid-template-rows:repeat(900,1px) ;
}
.grid_part{
    color: white;
    font-size: 20px;
    width: 467px;
    font-weight: 500;
}
.grid_part_unique_left,
.grid_part_unique_right{
    font-weight: 400;
}
.grid_part_unique_right_bot,
.grid_part_unique_left_bot{
    font-weight: 700;
}
.grid_part_unique{
    padding-left: 52px;
    padding-top: 44px;
}
.grid_part_right_section{
    padding-top: 44px;
    padding-left: 48px;
}
.grid_part_one{
    height: 313px;
    background-color: #0E0E0E;
    grid-row: 1/313;

}
.grid_part_two{
    height: 439px;
    background-color: #242424;
    grid-row: 1/469;
    grid-column: 497/964;
}
.grid_part_three{
    height: 255px;
    background-color: #1F1F1F;
    grid-row: 1/255;
    grid-column: 993/1460;
}
.grid_part_four{
    height: 560px;
    background-color: #1F1F1F;
    grid-row: 337/897;
}
.grid_part_four_pos{
    padding-top: 56px;
    padding-left: 52px;
}
.grid_part_five{
    height: 405px;
    background-color: #E4B564;
    color: #000000;
    grid-row: 492/897;
    grid-column: 496/963;
}
.grid_part_five_pos{
    padding-top: 47px;
    padding-left: 52px;
}
.grid_part_six{
    height: 313px;
    background-color: #0E0E0E;
    grid-row: 281/594 ;
    grid-column: 993/1460;
}
.grid_part_seven{
    height: 277px;
    background-color: #0A0909;
    grid-row: 620/897 ;
    grid-column: 993/1460;
}
.title_footer{
    margin-left: 230px;
    margin-top: 365px;
}
.btn_footer{
    font-size: 18px;
    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -1510px;
    top: -52px;
}
.btn_ftr_link{
    text-decoration: none;
    color: #E4B564;
}
.footer_grid{
    margin-top: 20px;
    margin-left: 230px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,487px);
    text-align: center;
}
.grid_item_footer{
    width: 487px;
    height: 391px;
    background-color: #E4B564;
    font-size: 22px;
    font-weight:600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project_one{
    background-color: #634F2C;
}
.footer_logo_one {
    width: 185px;
}
.project_two{
    background-color: #E8D2ABC2;
    color: white;
}
.font_change_mavis{
    font-weight: 400;
}
.mavis_logo_top{
    width: 62px;
}
.mavis_logo_bottom{
    width: 140px;
}
.project_three{
    background-color: #E4B564;
}
.footer_logo_three{
    width: 190px;
}
.project_four{
    background-color: #635A4A;
}
.footer_logo_four{
    width: 190px;
}
.project_five{
    background-color: #B08C4D;
}
.footer_logo_five{
    width: 120px;
}
.project_six{
    background-color: #634F2C;
}
.footer_logo_six{
    width: 185px;
}

